@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  #tooglebtn {
    display: none; /* Hide toggle button on desktop */
  }
}


:root {
  --background: #0d1317;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d1317;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: 'scroll'

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
